{
    "presets": [
        ["blueflag", {"browser": true}]
    ],
    "ignore": [
        "**/*-test.js"
    ],
    "env": {
      "test": {
        "plugins": [
          "istanbul"
        ]
      }
    }
}
